header {
  background: white;
  width: 100%;
  position: fixed;
  z-index: 100;
}

.wrapper {
padding-top: 80px;
  width: 100%;
  margin: auto;
  overflow:hidden;
}

#accordionSidebar{
  padding-top: 65px;
}
